modules = ["web", "nodejs-23"]
run = "live-server"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run serve"]

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 4200

[[ports]]
localPort = 35421
externalPort = 3000

[[ports]]
localPort = 38873
externalPort = 3003

[[ports]]
localPort = 46067
externalPort = 3001
