:root {
    --zed-font: 'Zed Mono Extended';
}

body {
    font-family: var(--zed-font);
    color: var(--foreground);
    background: var(--background);

    margin: 0;
    padding: 0;

    overflow: hidden;
    height: 100mvh;
    /* background: red; */
}

coordinator-layout {
    /* height: 100vh; */
}

action-bar {
    background: var(--topbar-background);
    border-color: var(--topbar-border);
    color: var(--topbar-foreground);
    fill: var(--icon-color);
}

tab-bar {
    background: var(--tabbar-background);
    border-color: var(--tabbar-border);
    color: var(--tab-active-foreground);
}

bottom-sheet {
    background: var(--color-container);
    color: var(--color-on-background);
    box-shadow: none;
}

#main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
    height: 100%;
}

code-editor {
    width: 100%;
    height: 100%;
    font-size: 10px;

    background: var(--editor-background);
    color: var(--editor-foreground);
    border-color: var(--color-border);

    --lineno-background: var(--editor-lineno-background);
    --lineno-foreground: var(--editor-lineno-foreground);

    --token-keyword-control: var(--keyword-control);
    --token-keyword-storage: var(--keyword-storage);
    --token-string: var(--string);
    --token-number: var(--number);
    --token-char: var(--char);
    --token-commemt: var(--commemt);
    --token-function-name: var(--function-call);
    --token-class-name: var(--class-name);
    --token-variable: var(--variable);
    --token-type: var(--type);
    --token-prop: var(--prop);

    --autocompletion-background: var(--autocomplete-background);
    --autocompletion-border: var(--autocomplete-border);
    --autocompletion-foreground: var(--autocomplete-foreground);
    --autocompletion-selected-background: var(--autocomplete-selected-background);
    --autocompletion-selected-foreground: var(--autocomplete-selected-foreground);

    --widget-tooltip-background: var(--tooltip-background);
    --widget-tooltip-border: var(--tooltip-border);
    --widget-tooltip-foreground: var(--tooltip-foreground);
}

nav-drawer {
    background: var(--nav-background);
    color: var(--nav-foreground);
    border-color: var(--nav-border);
    fill: var(--icon-color);
}

.hidden {
    display: none;
}

/* Zed-like theme */
@font-face {
    font-family: 'Zed Mono Extended';
    src: url('zed-mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}